.game-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // margin-bottom: 2rem;
  cursor: pointer;
  max-width: 500px;

  &:hover .game-content .game-title {
    text-decoration: underline;
  }

  .game-banner {
    width: 100%;
    aspect-ratio: 9/16;
  }

  .game-content {
    background-color: var(--veryLightMainColor);
    color: var(--veryDarkTextColor);
    width: 100%;
    height: 200px;
    padding: 1rem;

    .game-title {
      font-size: 2.5rem;

      @media only screen and (max-width: 1600px) {
        font-size: 2rem;
      }
    }

    .game-subtitle {
      margin-top: 1rem;
      font-size: 1.3rem;

      @media only screen and (max-width: 1600px) {
        font-size: 1.2rem;
      }
    }
  }
}
