@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './colors.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root,
html,
body {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  overflow-x: hidden;
}
